body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;

  /* Colors */
  --color-gray: rgba(0, 0, 0, 0.4);
  --color-white: #fff;
  --color-black: #000;
  --color-darkseagreen: #99dfa0;

  /* border radiuses */
  --br-5xs: 8px;
}
