.registration-bg-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1196px;
  object-fit: cover;
}
.registration-child {
  position: absolute;
  top: 37px;
  left: 720px;
  border-radius: 30px;
  background-color: rgba(159, 161, 235, 0.7);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 650px;
  height: 1085px;
}
.registration-form {
  position: absolute;
  top: 64px;
  left: 799px;
  font-size: 24px;
  display: inline-block;
  width: 491px;
  height: 33px;
  -webkit-text-stroke: 0.5px #000;
}
.first-name,
.last-name,
.middle-name {
  position: absolute;
  top: 123px;
  left: 790px;
  display: inline-block;
  width: 97px;
  height: 17px;
}
.last-name,
.middle-name {
  left: 992px;
  width: 105px;
}
.last-name {
  left: 1202px;
  width: 97px;
}
.registration-item {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 147px;
  left: 749px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 180px;
  height: 40px;
}
.email-address {
  position: absolute;
  top: 212px;
  left: 749px;
  text-align: left;
  display: inline-block;
  width: 121px;
  height: 17px;
}
.registration-inner {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 237px;
  left: 749px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 386px;
  height: 40px;
}
.mobile-number {
  position: absolute;
  top: 354px;
  left: 749px;
  text-align: left;
  display: inline-block;
  width: 121px;
  height: 17px;
}
.rectangle-input,
.registration-child1 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 147px;
  left: 955px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 180px;
  height: 40px;
}
.registration-child1 {
  left: 1161px;
}
.address,
.examplegmailcom {
  position: absolute;
  text-align: left;
  display: inline-block;
  height: 17px;
}
.examplegmailcom {
  top: 249px;
  left: 770px;
  color: var(--color-gray);
  width: 159px;
}
.address {
  top: 496px;
  left: 750px;
  width: 121px;
}
.registration-child2 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 521px;
  left: 750px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 592px;
  height: 40px;
}
.street-address {
  position: absolute;
  top: 581px;
  left: 748px;
  text-align: left;
  display: inline-block;
  width: 121px;
  height: 17px;
}
.registration-child3 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 606px;
  left: 748px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 594px;
  height: 40px;
}
.street-address-2 {
  position: absolute;
  top: 666px;
  left: 748px;
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 17px;
}
.registration-child4 {
  border: 0;
  background-color: var(--color-white);
  top: 691px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 594px;
  height: 40px;
}
.city,
.registration-child4,
.registration-child5 {
  position: absolute;
  left: 748px;
}
.city {
  top: 751px;
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 17px;
}
.registration-child5 {
  border: 0;
  background-color: var(--color-white);
  top: 776px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 40px;
}
.country {
  position: absolute;
  top: 836px;
  left: 748px;
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 17px;
}
.registration-child6 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 861px;
  left: 748px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 40px;
}
.select-gender {
  position: absolute;
  top: 921px;
  left: 748px;
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 17px;
}
.registration-child7,
.state {
  position: absolute;
  left: 1062px;
}
.state {
  top: 751px;
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 17px;
}
.registration-child7 {
  border: 0;
  background-color: var(--color-white);
  top: 776px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 40px;
}
.pincode {
  position: absolute;
  top: 836px;
  left: 1062px;
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 17px;
}
.rectangle-button,
.registration-child8 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 861px;
  left: 1062px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 40px;
}
.rectangle-button {
  cursor: pointer;
  padding: 0;
  background-color: var(--color-darkseagreen);
  top: 379px;
  left: 1161px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 180px;
}
.request-otp {
  position: absolute;
  top: 391px;
  left: 1198px;
  display: inline-block;
  width: 105px;
  height: 17px;
  -webkit-text-stroke: 0.3px #000;
}
.registration-child9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkseagreen);
  position: absolute;
  top: 237px;
  left: 1161px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 180px;
  height: 40px;
}
.request-otp1 {
  position: absolute;
  top: 249px;
  left: 1202px;
  display: inline-block;
  width: 104px;
  height: 17px;
  -webkit-text-stroke: 0.3px #000;
}
.registration-child10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #8bd2f9;
  position: absolute;
  top: 1043px;
  left: 906px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 280px;
  height: 50px;
}
.register {
  position: absolute;
  top: 1058px;
  left: 1010px;
  display: inline-block;
  width: 72px;
  height: 19px;
  -webkit-text-stroke: 0.3px #000;
}
.registration-child11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkseagreen);
  position: absolute;
  top: 294px;
  left: 1161px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 180px;
  height: 40px;
}
.verify-otp {
  position: absolute;
  top: 307px;
  left: 1204px;
  display: inline-block;
  width: 87px;
  height: 18px;
  -webkit-text-stroke: 0.3px #000;
}
.registration-child12 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 294px;
  left: 749px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 180px;
  height: 40px;
}
.enter-otp-here {
  position: absolute;
  top: 307px;
  left: 771px;
  color: var(--color-gray);
  display: inline-block;
  width: 122px;
  height: 17px;
}
.registration-child13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkseagreen);
  position: absolute;
  top: 436px;
  left: 1160px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 180px;
  height: 40px;
}
.verify-otp1 {
  position: absolute;
  top: 447px;
  left: 1204px;
  display: inline-block;
  width: 91px;
  height: 21px;
  -webkit-text-stroke: 0.3px #000;
}
.registration-child14 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 436px;
  left: 748px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 180px;
  height: 40px;
}
.enter-otp-here1 {
  position: absolute;
  top: 449px;
  left: 770px;
  color: var(--color-gray);
  display: inline-block;
  width: 123px;
  height: 17px;
}
.registration-child15 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 946px;
  left: 748px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 40px;
}
.by-registering-you,
.select-gender1 {
  position: absolute;
  top: 959px;
  left: 821px;
  color: var(--color-gray);
  display: inline-block;
  width: 119px;
  height: 17px;
}
.by-registering-you {
  top: 1006px;
  left: 824px;
  width: 441px;
}
.dob,
.registration-child16 {
  position: absolute;
  left: 1062px;
}
.dob {
  top: 921px;
  text-align: left;
  display: inline-block;
  width: 133px;
  height: 17px;
}
.registration-child16 {
  border: 0;
  background-color: var(--color-white);
  top: 946px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 40px;
}
.ddmmyyyy {
  position: absolute;
  top: 957px;
  left: 1146px;
  color: var(--color-gray);
  display: inline-block;
  width: 112px;
  height: 17px;
}
.registration-child17 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 379px;
  left: 749px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 41px;
  height: 40px;
}
.div {
  position: absolute;
  top: 391px;
  left: 753px;
  color: var(--color-gray);
  display: inline-block;
  width: 34px;
  height: 17px;
}
.registration-child18 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 379px;
  left: 797px;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 338px;
  height: 40px;
}
.div1 {
  position: absolute;
  top: 391px;
  left: 807px;
  color: var(--color-gray);
  display: inline-block;
  width: 102px;
  height: 17px;
}
.registration {
  position: relative;
  background-color: #a1adfd;
  width: 100%;
  height: 1155px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
